.card {
  height: 488px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* position: relative;
  overflow: hidden; */
}

.thumbnail {
  border-radius: 16px;
  transition: transform 0.5s ease, opacity 0.3s ease;
  object-fit: cover;
  height: 430px;
}

.thumbnail:hover {
  cursor: url("https://cdn.flabs.in/webassets/355bba12b5505ca7bfb4.png"), auto;
  /* cursor: url("https://cdn.flabs.in/webassets/9cc198f82ac77f497347.png"), auto; */
  transform: scale(0.98);
  transition: transform 0.7s ease;
}

.image {
  border-radius: 20px;
  width: fit-content;
  height: 430px;
}

.image:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.06);
  background-color: white;
  /* cursor: url("https://cdn.flabs.in/webassets/34d640a25cf2ff8feecf.png"); */
}

/* .customCursor {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  color: black;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.2s ease-in-out;
}

.showCursor {
  display: flex;
}

body.customCursorActive {
  cursor: none;
}

.customCursor span {
  display: block;
  text-align: center;
  font-weight: bold;
}

body.customCursorActive .customCursor {
  left: var(--cursorX);
  top: var(--cursorY);
  transform: translate(-50%, -50%);
} */

.bottomleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.bottomright {
  display: none;
}

.type {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid #141414;
}

.title {
  color: #141414;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.type p {
  color: #141414;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
}

@media (max-width: 520px) {
  .card {
    width: 92%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .image {
    width: 100%;
    border-radius: 20px;
    width: fit-content;
    height: auto;
  }

  .image:hover {
    border-radius: none;
    box-shadow: none;
    background-color: none;
    /* cursor: url("https://cdn.flabs.in/webassets/34d640a25cf2ff8feecf.png"); */
  }

  .thumbnail {
    width: 100%;
    border-radius: 8px;
    height: auto;
  }

  .thumbnail:hover {
    cursor: none;
    /* cursor: url("https://cdn.flabs.in/webassets/9cc198f82ac77f497347.png"), auto; */
    transform: none;
    transition: none;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-self: stretch; */
  }

  .bottomleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
  }

  .bottomright {
    display: flex;
  }

  .button p {
    display: none;
  }

  .type {
    display: flex;
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: none;
  }

  .title {
    color: #141414;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }

  .type p {
    color: #141414;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
  }
}
