.button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 132px;
    background: #fafafa;
    border-radius: 8px;
    cursor: pointer;
}

.button p {
    color: #141414;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}