.bg {
    height : auto;
    background: #141414;
    width: 100%;
    padding-top: 160px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    /* position: absolute; */
}

.logobg {
    width: 1136px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    /* bottom: 0px; */
    /* z-index: 0; */
}

.content {
    width: 1216px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: space-between;
    /* gap: 88px */
}

.lefttop {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;
}

.leftbottom {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;
}

.lefttopp {
    width: 400px ;
    color: #FAFAFA;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; 
    margin: 0px;
    padding: 0px;
}

.leftbottom p {
    color: #FAFAFA;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin: 0px;
    padding: 0px;
}

.right {
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: space-between;
    align-items: flex-end;
}

.backtotop {
    display: flex;
    align-items: center;
    gap: 8px;
}

.backtotop p {
    color: #FAFAFA;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin: 0px;
    padding: 0px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 8px;
}

.socials p{
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    margin: 0px;
    padding: 0px;
}

.socialstop {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
}

.socialstop p{
    color: #FAFAFA;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin: 0px;
    padding: 0px;
}

.socialslinks {
    display: flex;
    gap: 32px;
}

.madewithlove {
    display: flex;
    gap: 4px;
}

.madewithlove p {
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}






@media (max-width: 520px) {
    .logobg {
        display: none;
    }

    .bg {
        height : auto;
        background: #141414;
        width: 88%;
        padding: 80px 6% 32px 6%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .content {
        /* z-index: 1; */
        width: 100%;
        height: auto;
        margin-left: 24px;
        margin-right: 24px;
        /* padding-top: 160px; */
        display: flex;
        flex-direction: column;
        gap: 80px;
        /* justify-content: space-between; */
    }

    .left {
        height: auto;
        display: flex;
        flex-direction: column;
        /* height: 360px; */
        justify-content: space-between;
        gap: 80px;
    }

    .lefttop {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
        height: auto;
    }
    
    .leftbottom {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        height: auto;
    }
    
    .lefttop p {
        width: 100% ;
        color: #FAFAFA;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; 
        margin: 0px;
        padding: 0px;
    }
    
    .leftbottom p {
        color: #FAFAFA;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        margin: 0px;
        padding: 0px;
    }
    
    .right {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        /* height: 360px; */
        /* justify-content: space-between; */
        gap: 80px;
        position: relative;
        align-items: flex-start;
    }
    
    .backtotop {
        display: flex;
        align-items: center;
        gap: 8px;
        /* position: absolute;
        bottom: 0px; */
        z-index: 0;
    }
    
    .backtotop p {
        color: #FAFAFA;
        text-align: left;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; 
        margin: 0px;
        padding: 0px;
    }
    
    .socials {
        display: flex;
        align-items: center;
        gap: 8px;
        /* z-index: 1; */
    }
    
    .socials p{
        color: #FAFAFA;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        margin: 0px;
        padding: 0px;
    }
    
    .socialstop {
        display: flex;
        flex-direction: column;
        gap: 16px;
        /* position: absolute;
        top: 0px; */
        z-index: 1;
    }
    
    .socialstop p{
        color: #FAFAFA;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        margin: 0px;
        padding: 0px;
    }
    
    .socialslinks {
        display: flex;
        gap: 32px;
    }
    
    .madewithlove {
        display: flex;
        gap: 4px;
        width: 100%;
        justify-content: center;
    }
    
    .madewithlove p {
        color: #FAFAFA;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
       
}