.navbar {
    /* background: #fafafa; */
    display: flex;
    width: 1216px;
    padding: 16px 0px;
    margin-bottom: 88px;
    justify-content: space-between;
    align-items: center;
 }

 .menu {
   display: none;
 }

 .navbar li {
    color: #FAFAFA;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
 }

 .navbar ul {
    display: flex;
    gap: 32px;
 }

 .right {
   display: flex;
   align-items: center;
   gap: 64px;
 }





 @media (max-width: 520px) {
   .navbar {
      display: flex;
      width: 92%;
      padding-left: 4%;
      padding-right: 4%;
      padding-bottom: 32px;
      margin-bottom: 32px;
      justify-content: space-between;
      align-items: center;
   }
   

   .logo {
      height: 36px;
      width: 80px;
   }

   .menu {
      display: flex;
   }

   .right {
      display: none;
   }
 }