.card {
    display: flex;
    height: 200px;
    padding: 32px 32px 24px 32px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid var(--Border-colorBorder, #D9D9D9);
}

.logo {
    width: 48px;
    height: 48px;
}

.name {
    color: #141414;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.content {
    width: 420px;
    color: #141414;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.position {
    color: #b3b8c6;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

}