.main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.container {
  display: flex;
  width: 1216px;
  height: 100vh;
  padding-top: 0.001px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px 16px 0px 0px;
  border-top: 1px solid var(--Border-colorBorder, #d9d9d9);
  border-right: 1px solid var(--Border-colorBorder, #d9d9d9);
  border-left: 1px solid var(--Border-colorBorder, #d9d9d9);
  overflow: hidden;
  position: fixed;
  flex-direction: column;
}

.scroll {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.button {
  padding-top: 32px;
  padding-bottom: 48px;
  text-decoration: none;
}

@media (max-width: 520px) {
  .main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    display: flex;
    width: 100%;
    /* height: 100vh; */
    padding-top: 0.001px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    border-top: 1px solid var(--Border-colorBorder, #d9d9d9);
    border-right: 1px solid var(--Border-colorBorder, #d9d9d9);
    border-left: 1px solid var(--Border-colorBorder, #d9d9d9);
    /* overflow: hidden; */
    /* position: fixed; */
  }

  .scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .thumbnail {
    width: 100%;
    height: auto;
  }
}
